header{
  position: fixed;
  background-color:black;
  width: 100%;
  display: inline-flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  top: 0px;
}
#logo{
  height: 50px;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
#navbutton{
  color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding-left: 50px;
}
nav{
  display: inline-flex;
  padding-left: 50px;
  margin-left: 280px;
}
a{
  color: white;
}
body{
  background-color: black;
}
#intro{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  z-index: 2;
  margin-top: 70px;
}
#mission{
  color: white;
  background-color: black;
  width: 1200px;
  text-align: center;
}
#mission h4{
  font-size: 20px;
}
#teamonth{
  display: flex;
  height: 700px;
  width: 1000px;
  flex-direction: column;
  padding-left: 90px;
}
.teatype{
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}
#fall{
  display: flex;
  height: 200px;
  width: 300px;
}
#rum{
  display: flex;
  height: 200px;
  width: 300px;
}
#donut{
  display: flex;
  height: 200px;
  width: 300px;
}
#myrtle{
  display: flex;
  height: 200px;
  width: 300px;
  padding-left: 200px;
}
#bedford{
  display: flex;
  height: 200px;
  width: 300px;
  padding-right: 200px;
}
#section1{
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1000px;

}
#section2{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1000px;
}
#teamonthhead{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 1000px;
  flex-direction: column;
  padding-bottom: 0px;
  margin-bottom: -1%;
}
#teamonthhead h4{
  font-size: 25px;
}
h2{
  font-size: 30px;
}
#teamonthhead h4{
  margin-top: -1%;
  font-size: 20px;
}
#locations{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  flex-direction: column;
  align-content: center;
}
.column1{
  display: flex;
  background-color: black;
  height: 300px;
  width: 300px;
}
.column2{
  display: flex;
  background-color: black;
  height: 300px;
  width: 300px;
}
.column3{
  display: flex;
  background-color: black;
  height: 300px;
  width: 300px;
}
#column{
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px;
}
#locationheader{
  display: flex;
  position: relative;
  top: 1px;
  width: 1200px;
  height: 50px;
  justify-content: center;
  margin-bottom: 0px;
}
.columnholder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -4%;
  padding: -1%;
}
